@charset "UTF-8";

/* 回答はここに書いてね */

/* floatを使った横並び */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7__box {
  width: 225px;
}
.float-box {
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.float-box:first-child {
  margin-left: 0;
}

/* tableを使った横並び */
.table-inner {
  display: table;
}
.table-box {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}
.table-box:first-child {
  padding-left: 0;
}
.table-box-text {
  font-size: 16px;
}
/* --tableを使った横並び-- */

/* inline-blockを使った横並び */
.inlineblock-inner {
  font-size: 0;
}

.inlineblock-box {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  box-sizing: border-box;
  font-size: 16px;
}

.inlineblock-box:first-child{
  margin-left: 0;
}
/* --inline-blockを使った横並び --*/

/* flexを使った横並び */
.flex-inner{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex-box {
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

/* --flexを使った横並び-- */

/* inline-block,marginを使った横並び */
.is-full {
  font-size: 0;　 
}

.margin-box {
  vertical-align: top;
  display: inline-block;  
}

.margin-box:first-child{
  width: 300px;
}


.margin-box:nth-child(2){
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.q7--margin .q7__box__text {
  font-size: 16px;
}

/* --inline-blockをmarginを使った横並び-- */
/* 回答はここに書いてね */
