@charset "UTF-8";

/* 回答はここに書いてね */

/* floatを使った横並び */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.q7 .q7__box {
  width: 225px;
}
.q7--float .q7__box {
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.q7--float .q7__box:first-child {
  margin-left: 0;
}

/* tableを使った横並び */
.q7--table .q7__inner {
  display: table;
}
.q7--table .q7__box {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}
.q7--table .q7__box:first-child {
  padding-left: 0;
}
.q7--table .q7__box__text {
  font-size: 16px;
}
/* --tableを使った横並び-- */

/* inline-blockを使った横並び */
.q7--inlineblock .q7__inner {
  font-size: 0;
}

.q7--inlineblock .q7__box{
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  box-sizing: border-box;
  font-size: 16px;
}

.q7--inlineblock .q7__box:first-child{
  margin-left: 0;
}
/* --inline-blockを使った横並び --*/

/* flexを使った横並び */
.q7--flex .q7__inner{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7--flex .q7__box {
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

/* --flexを使った横並び-- */

/* inline-block,marginを使った横並び */
.q7--margin .q7__inner {
  font-size: 0;　 /* この部分の動きが分からない */
}

.q7--margin .q7__box {
  vertical-align: top;  /* 上を基準に揃える */
}

.is-full .q7__box{
  display: inline-block;
}

.is-full .q7__box:first-child{
  width: 300px;
}


.is-full .q7__box:nth-child(2){
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.q7--margin .q7__box__text {
  font-size: 16px;
}

/* --inline-blockをmarginを使った横並び-- */
/* 回答はここに書いてね */
