@charset "UTF-8";

/* 回答はここに書いてね */

.q5{
  position: relative;
  height: 500px;
  background-color: #ECF1F2;
  width: 500px;
  margin: 0 auto;
}

.q5-content{
  line-height: 100px;
  position: absolute;
  text-align: center;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
}

.contentIn1{
  background-color: #ffefd3;
  left:200px;
  top:40px;
}

.contentIn2{
  background-color: #7084de;
  left:280px;
  top:120px;
}

.contentIn3{
  background-color: #d0ecea;
  left:360px;
  top:200px;
}

.contentIn4{
  background-color: #8b7a5e;
  left:280px;
  top:280px;
}

.contentIn5{
  background-color: #9fd6d2;
  left:200px;
  top:360px;
}

.contentIn6{
  background-color: #fffee4;
  left:120px;
  top:280px;
}

.contentIn7{
  background-color: #deae70;
  left:40px;
  top:200px;
}

.contentIn8{
  background-color: #de70cf;
  left:120px;
  top:120px;
}

.contentIn8:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  content: ""; 
}

.contentIn9{
  background-color: #2b68a3;
  position:fixed;
  top:10px;
  left:10px;
}

/* 回答はここに書いてね */
