@charset "UTF-8";

/* 左右中央寄せ  */
.q6__box{
  position: relative;
}

.text-area {
  text-align: center;
}

.text {
  background-color: #E6f2ff;
  padding: 10px;
  width: 70px;
}

.align {
  display: inline-block;
}

.margin {
  text-align: center;
  margin: 0 auto;
}


/* 天地左右中央寄せ  */
.q6--around.Intable {
  display: table;
}

.q6--around.Intable .q6-box{
display: table-cell;
background-color: #ECF1F2;
text-align: center;
vertical-align: middle;
}

.q6--around.Intable .q6-box-text {
  display: inline-block;
  padding: 10px;
  background-color: #FFF;
}

.q6--around.Inflex {
  display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
}

.q6--around.Inflex .q6-box-text {
  padding: 10px;
  background-color: #FFF;
}

.text-lock{
  margin: auto;
}

.q6--position .q6__box {
  position: relative;
}
.q6__box.is-stable .q6__box__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.q6__box.is-flexible .q6__box__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
/* 天地左右中央寄せ  */
